<DOCTYPE html>
	<html>
	<head>
	<title>Css de decoracion de letras </title>
	<head>
	font-family:arial, helvetica,aptos;
	</head>
		body{
			font-family:arial, helvetica, sans-serif;
			font-size: 14px;
		}
		h1{
		font-size:2em;
		font-family:Frutiger;
		}
		h2{
		font-size:1.5em;
		background-color:#ccc;
		margin:20px;
		padding:40px;
		}
		a{
		text-decoration:none;
		}
		strong{
		font-style:italic;
		text-transform: uppercase;
		}
		h3{
		border-style: dashed;
		border-width: 3px;
		border-left-width:10px;
		border-right-width:10px;
		border-color:red;

		}
		/*Solid= solo una linea, "dotted"= con puntos y "dashde"= con lineas*/

	</html>

